<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ModaStoreApp"
        tools:targetApi="31">
        <activity
            android:name=".view.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.HomeActivity" />
        <activity android:name=".view.SearchProductActivity" />
        <activity android:name=".view.ProductActivity" />
        <activity android:name=".view.CartActivity" />
        <activity android:name=".view.ComunityActivity" />
        <activity android:name=".view.ConfigAccountDataActivity" />
        <activity android:name=".view.ConfigAddressActivity" />
        <activity android:name=".view.EditAddressActivity" />
        <activity android:name=".view.ConfigPaymentActivity" />
        <activity android:name=".view.AddCardActivity" />
        <activity android:name=".view.OrderActivity" />
        <activity android:name=".view.ProfileActivity" />
        <activity
            android:name=".services.CongratsActivity"
            android:exported="true"
            android:label="deepLink" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "yourapp://congrats" -->
                <data android:scheme="yourapp"
                    android:host="congrats" />

            </intent-filter>
        </activity>

    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>